<a href="https://colab.research.google.com/github/zakirhossen23/Project-Data-Visualisation/blob/main/colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataFrame 1 for daily visitor data

In [2]:
import pandas as pd

data=pd.read_csv("https://raw.githubusercontent.com/ChrisWalshaw/DataViz/master/Data/001145733/VenueDailyVisitors.csv")

df=pd.DataFrame(data)

df #print the dataframe

,Date,UFY,XJT,XPE,AWF,AXM,BKI,XXO,WRL,ZJB,...,QJL,WDZ,UZO,WXV,CWN,VRD,YXF,YDI,WFI,TLJ
0,2019-01-01,60,83,95,198,61,0,89,78,0,...,305,46,75,90,262,62,81,0,94,81
1,2019-01-02,62,78,71,169,65,0,95,90,0,...,204,114,64,98,234,54,73,0,76,75
2,2019-01-03,69,72,75,120,57,0,92,68,0,...,224,110,67,85,201,49,69,0,71,84
3,2019-01-04,61,80,97,99,46,0,100,67,0,...,191,70,68,99,164,65,68,0,89,72
4,2019-01-05,53,90,85,90,65,0,91,92,0,...,203,105,65,91,170,60,79,0,93,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,74,77,78,88,53,13,0,73,106,...,165,82,58,100,159,71,78,59,60,73
361,2019-12-28,65,110,82,88,65,0,0,93,44,...,199,73,70,104,167,45,89,28,90,82
362,2019-12-29,73,89,84,134,64,255,0,74,0,...,220,95,69,86,202,58,77,103,72,77
363,2019-12-30,62,86,47,178,81,131,0,74,149,...,326,81,73,101,242,53,84,131,74,80
364,2019-12-31,71,93,63,185,76,191,0,78,84,...,304,64,71,101,273,71,75,81,60,75